@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: FiraCode Nerd Font;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: @base01;
  color: @base05;
  opacity: 0.8;
}

#workspaces button,
#custom-media,
#idle_inhibitor,
#custom-dunst,
#network,
#pulseaudio,
#custom-ddcutil,
#disk,
#memory,
#cpu,
#temperature,
#custom-gpu-usage,
#language,
#battery,
#clock,
#tray {
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  color: @base05;
  margin: 0 2px;
  padding: 0 7px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover,
#custom-media:hover,
#idle_inhibitor:hover,
#custom-dunst:hover,
#network:hover,
#pulseaudio:hover,
#custom-ddcutil:hover,
#disk:hover,
#memory:hover,
#cpu:hover,
#temperature:hover,
#custom-gpu-usage:hover,
#language:hover,
#battery:hover,
#clock:hover,
#tray:hover {
  background-color: @base03;
  box-shadow: inset 0 -3px @base07;
}

#mode,
#idle_inhibitor.activated,
#custom-dunst.custom-disabled,
#network.disconnected,
#pulseaudio.muted,
#temperature.critical,
#workspaces button.focused,
#custom-media.focused,
#idle_inhibitor.focused,
#custom-dunst.focused,
#network.focused,
#pulseaudio.focused,
#custom-ddcutil.focused,
#disk.focused,
#memory.focused,
#cpu.focused,
#temperature.focused,
#custom-gpu-usage.focused,
#language.focused,
#battery.focused,
#clock.focused,
#tray.focused {
  background-color: @base02;
  box-shadow: inset 0 -3px @base07;
}

#workspaces button.urgent,
#custom-media.urgent,
#idle_inhibitor.urgent,
#custom-dunst.urgent,
#network.urgent,
#pulseaudio.urgent,
#custom-ddcutil.urgent,
#disk.urgent,
#memory.urgent,
#cpu.urgent,
#temperature.urgent,
#custom-gpu-usage.urgent,
#language.urgent,
#battery.urgent,
#clock.urgent,
#tray.urgent {
  background-color: @base08;
}

#mode {
  padding: 0 7px;
}

#window,
#workspaces {
  margin: 0 2px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 2;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 2;
}

@keyframes blink {
  to {
    background-color: @base01;
    color: @base05;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: @base08;
  color: @base05;
}

#custom-media {
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
  color: #2a5c45;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @base02;
}