[global]
    frame_color = "#{{base05-hex}}"
    separator_color = "#{{base01-hex}}"

[base16_low]
    msg_urgency = low
    background = "#{{base02-hex}}"
    foreground = "#{{base04-hex}}"
    frame_color = "#{{base04-hex}}"

[base16_normal]
    msg_urgency = normal
    background = "#{{base02-hex}}"
    foreground = "#{{base05-hex}}"

[base16_critical]
    msg_urgency = critical
    background = "#{{base02-hex}}"
    foreground = "#{{base06-hex}}"
    frame_color = "#{{base08-hex}}"
